@page "/Login"
<h3>LogIn</h3>
<div class="p-4">
    <div class="col-md-3">
        <label class="form-label" > email</label>
        <input type= "email" class = "form-control" id="email" @bind="email">
    </div>
    <div class="col-md-3">
        <label class="form-label">Password</label>
        <input type ="password" class="form-control" id="email" @bind="password" placeholder="0000" >
    </div>
    <div class="col-md-3">
        <p style="color:@Color"><b>@text</b></p>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="Submit">Submit</button>
</div>
    

@code {
    private string email { get; set; }
    private string password { get; set; }

    string Color = "black";
    string text = "Hello Guest";

    private void Submit()
    {
        if (email == "jgmwansa@gmail.com"" && password = 2003)
        {
            Color = "green";
            text = "Welcome member";
            email = "";
            password = "";
        }
        else
        {
           
            Color = "red";
            text = "User password wrong";
            email = "";
            password = ""; 
        }
    }
}
